*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  /*margin:0 auto;（ブロックレベル要素の中央揃え）はどんな時に必須？
  下の「.nav-list」では使用するがなぜ「header」ではいらないのか*/
  /*width:100%;はmargin:0auto;でもOK
   　widthを指定しない場合でも自動的に100%になる設定*/
  /*heightはpaddingで上下余白が設定されているので不要*/
  width:100%;
  padding:20px 0;
  text-align:center;
  background-color:red;
}

.nav-list{
  /*margin:0 auto;はwidth:100%;でもOK*/
  /*heightはpaddingで上下余白が設定されているので不要*/
  margin:0 auto;
  padding:15px 0;
  text-align:center;
  border-top:1px solid #848282;
  border-bottom:1px solid #848282;
  background-color:yellow;
}

.nav-list-item{
  list-style:none;
  display:inline-block;
  margin:0 20px;
}

.main{
  width:800px;
  /*margin「:50px 0;」と「:50px auto;」の違いがよく分からないです*/
  /*親要素よりも小さな子要素（ブロックレベル要素）を
  中央にしたい時はauto指定*/
  margin:50px auto;
  display:flex;
  flex-wrap:wrap;
}

.box1{
  width:200px;
  height:200px;
  background-color:#e6ffe9;
}

.box2{
  width:200px;
  height:200px;
  background-color:#cbffd3;
}

.box3{
  width:200px;
  height:200px;
  background-color:#aeffdb;
}

.box4{
  width:200px;
  height:200px;
  background-color:#93ffab;
}

.box5{
  width:200px;
  height:200px;
  background-color:#f3ffd8;
}

.box6{
  width:200px;
  height:200px;
  background-color:#edffbe;
}

.box7{
  width:200px;
  height:200px;
  background-color:#e9ffa5;
}

.box8{
  width:200px;
  height:200px;
  background-color:#e4ff8d;
}

.box9{
  width:200px;
  height:200px;
  background-color:#d9e5ff;
}

.box10{
  width:200px;
  height:200px;
  background-color:#bad3ff;
}

.box11{
  width:200px;
  height:200px;
  background-color:#a4c6ff;
}

.box12{
  width:200px;
  height:200px;
  background-color:#8eb8ff;
}

/*classタグではないので.は不要*/
footer{
 width:100%;
 height:120px;
 text-align:center;
 line-height:120px;
 background-color:#848282;
}

.footer-text{
  /*文字の色を変えたいのでbackground-colorではなくcolor*/
  color:#fff;
}